src/main/python/OMChem/__pycache__/*
src/main/python/DockWidgets/__pycache__/*
src/main/python/utils/__pycache__/*
src/main/python/Undo.dat
src/main/python/Redo.dat
src/main/Simulator/Databases/__pycache__/*
src/main/Simulator/Flowsheet*
src/main/Simulator/Graph*
src/main/Simulator/database.mo
src/main/Simulator/PlotGraph.mos
src/main/Simulator/simulateEQN.mos
.idea/*
src/main/Simulator/Undo.dat
src/main/Simulator/Redo.dat

*.pyc
